<div class="titulo">
  <h1>Fase de Seleção</h1>
  <span class="descricao">Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão Gerar Meu Campeonato para prosseguir.</span>
</div>
<form>
  <mat-grid-list cols="4" rowHeight="2:1" >
    <mat-grid-tile *ngFor="let film of dataSource">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{film.titulo}}</mat-card-title>
          <mat-card-subtitle>{{film.anoLancamento}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</form>
