<app-topo [titulo]="titulo" [descricao]="descricao"></app-topo>
<mat-grid-list cols="1" rowHeight="10:1" *ngIf='temResultado'>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>1° - {{this.resultadoFinal.campeao.titulo}}</mat-card-title>
        <mat-card-subtitle>Nota {{this.resultadoFinal.campeao.nota}} Ano de Lançamento {{this.resultadoFinal.campeao.anoLancamento}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>2° - {{this.resultadoFinal.viceCampeao.titulo}}</mat-card-title>
        <mat-card-subtitle>Nota {{this.resultadoFinal.viceCampeao.nota}} Ano de Lançamento {{this.resultadoFinal.viceCampeao.anoLancamento}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div class="semResultado" *ngIf='!temResultado'>
Nenhum resultado encontrado.
</div>
